<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="C:\logs\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<!--<target xsi:type="Null" name="blackhole" />-->

		<target name="database" xsi:type="Database">

			<connectionString>${gdc:item=connectionString}</connectionString>
			<commandText>
				Insert Into [Logs] (Application, DateLogged, Level, Message,Logger, CallSite, Exception)
				Values
				(@Application, @DateLogged, @Level, @Message,@Logger, @Callsite, @Exception);
			</commandText>

			<parameter name="@application" layout="CarbonTest1" />
			<parameter name="@datelogged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />

		</target>

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip Microsoft logs and so log only own logs https://github.com/NLog/NLog/wiki/Filtering-log-messages -->
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="Hangfire.*" minlevel="Trace"  final="true"/>

		<logger name="*" minlevel="Trace" writeTo="database" />

		<!-- https://github.com/NLog/NLog/wiki/Configuration-file#log-levels -->

	</rules>
</nlog>